@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
@import url("font.css");



.container-suffix{
    font-family: 'Kanit', sans-serif;
    margin: 0 auto;
    width: 1440px;
    min-height: 10000px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
}

.header{
    margin: 0 auto;
    width: 1440px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.slider{
    margin: 0 auto;
    width: 1440px;
    height: 570px;
    display: flex;
}

.slider-left{
    width: 720px;
    height: 570px;
    background-image: url("photo/philip-martin-5aGUyCW_PJw-unsplash.jpg");
    position: relative;
}

.slider-left-white-cube{
    position: absolute;
    width: 344px;
    height: 359px;
    background-color: white;
    left: 51px;
    bottom: 225px;
}

#about,#about1,#about2,#about3,#about4,#about5,#about6{
    position: absolute;
    top: 51px;
    left: 68px;
    font-family: 'Kanit';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    line-height: 24px;
}

#about1{
    top: 88px;
}

#about2{
    top: 127px;
}

#about3{
    top: 166px;
}

#about4{
    top: 203px;
}

#about5{
    top: 242px;
}

#about6{
    top: 279px;
}

.slider-right{
    width: 720px;
    height: 570px;
    background-color: black;
    position: relative;
}

#slider-right-adress,#slider-right-data,#slider-right-header,#slider-right-discription,#slider-right-button{
    font-family: 'Kanit';
    position: absolute;
    color: white;
}

#slider-right-adress{
    top: 107px;
    right: 110px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

#slider-right-data{
    top: 110px;
    left: 108px;
    letter-spacing: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
}

#slider-right-header{
    top: 197px;
    left: 108px;
    font-weight: 500;
    font-size: 27px;
    line-height: 39px;
    text-transform: uppercase;
    word-spacing: 7px;
}

#slider-right-discription{
    top: 268px;
    left: 108px;
    width: 503px;
    height: 42px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-shadow: 0px 4px 4px rgba(207, 16, 16, 0.25);
    word-spacing: 3px;
}

#slider-right-button{
    width: 198px;
    height: 55px;
    top: 364px;
    left: 108px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    background-color: black;
    border: 1px solid white;
}

.featured-header{
    margin: 59px 0 0 149px;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
}

.featured-left-container{
    display: flex;
}

.featured-left-photo{
    margin: 30px 0 0 149px;
    width: 557px;
    height: 368px;
    background-image: url("photo/Screen Shot 2560-08-18 at 4.23.48 PM.jpg");
}

.flex-flex-flex{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 557px;
    margin: 0 0 0 149px;
}   

.lifestyle{
    margin-top: 29px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}


.featured-left-data, .featured-right-data{
    margin: 26px 0 0 0px;
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.featured-right-data{
    margin: 26px 0 0 4px;
}

.featured-left-lorem, .featured-right-lorem{
    margin: 34px 0 0 149px;
    width: 557px;
    height: 72px;
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
}

.featured-left-discription, .featured-right-discription{
    margin: 19px 0 0 147px;
    width: 557px;
    height: 54px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    color:#1F1F1D;
    font-size: 18px;
    line-height: 27px;
    word-spacing: 2px;
}

.featured-right-photo{
    margin: 30px 0 0 27px;
    width: 557px;
    height: 368px;
    background-image: url("photo/biocarbon-drone.jpg.650x0_q70_crop-smart.jpg");
}

.flex-flex-flex-right{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 557px;
    margin: 0 0 0 26px;
}   

.lifestyle-right{
    margin-top: 29px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}

.featured-right-lorem{
    margin: 34px 0 0 31px;
    width: 557px;
    height: 72px;
}

.featured-right-discription{
    margin: 19px 0 0 31px;
    width: 557px;
    height: 54px;
}

.style-container{
    display: flex;
    margin-top: 63px;
}

.style-left-photo{
    width: 363px;
    height: 240px;
    margin: 0px 0 0 148px;
    background-image: url("photo/img-1.jpg"); 
}

/* //////////////here - 1/////////////////// */

.flex-flex-flex-style{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: 0 0 0 148px;
}   

.style-left-data{
    margin: 17px 0 0 2px;
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
}

.style-lifestyle{
    margin-top: 18px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}

.style-left-atvero{
    width: 363px;
    height: 27px;
    margin: 22px 0 0 150px;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    text-transform: uppercase;
    color: #1F1F1D;
}

.flex-flex-flex-style-middle{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: 0 0 0 28px;
}   

.style-middle-photo{
    width: 363px;
    height: 240px;
    margin: 0px 0 0 27px;
    background-image: url("photo/img-2.jpg");
}

.style-middle-data{
    margin: 16px 0 0 0px;
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
}

.style-middle-atvero{
    width: 363px;
    height: 27px;
    margin: 22px 27px 0 28px;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    text-transform: uppercase;
    color: #1F1F1D;
}

.style-right-photo{
    width: 363px;
    height: 240px;
    margin: 0px 0 0 0;
    background-image: url("photo/img-3.jpg");
}

.flex-flex-flex-style-right{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: 0 0 0 0;
}   

.style-right-data{
    margin: 16px 0 0 0px;
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
}

.style-right-atvero{
    width: 363px;
    height: 27px;
    margin: 22px 0 0 0;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    text-transform: uppercase;
    color: #1F1F1D;
}

#style-container-button{
    width: 238px;
    height: 42px;
    background-color: #303030;
    margin: 63px 0 0 602px;
    color: #FFFFFF;
}

.container-subscribenow{
    display: flex;
    margin-top: 71.33px;
}

.subscribenow-left, .subscribenow-right{
    width: 571.5px;
    height: 360px;
    background-color: #000000;
    position: relative;
    color: white;
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
}

#subscribenow-button{
    position: absolute;
    top: 194px;
    left: 187px;
    width: 198px;
    height: 42px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    background-color: black;
    border: 1px solid white;
    color: white;
}

.subscribenow-left{
    margin-left: 148px;
    background-image: url("photo/photo-1520781359717-3eb98461c9fe.jpg");
}

.subscribenow-issue{
    width: 330px;
    height: 51px;
    position: absolute;
    top: 123px;
    left: 118px;
    font-size: 34px;
    line-height: 51px;
    font-weight: 500;
    word-spacing: 4px;
}

.header-interviews{
    margin: 63px 0 0 152px;
    width: 99px;
    height: 27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.interviews-container{
    display: flex;
    margin-top: 31px;
}



/* //////////////here - 2/////////////////// */

.interviews-left-photo{
    width: 363px;
    height: 240px;
    margin: 0px 0 0 148px;
    background-image: url("photo/img-5.jpg"); 
}


.flex-flex-flex-interviews{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: 0 0 0 148px;
}   

.interviews-left-data{
    margin: 10px 0 0 3px;
    letter-spacing: 7px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    color: #000000;
}

.interviews-lifestyle{
    margin-top: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}

.interviews-left-atvero{
    width: 363px;
    height: 27px;
    margin: 28px 0 0 150px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    word-spacing: 3px;
    text-transform: uppercase;
    color: #1F1F1D;
}

.flex-flex-flex-interviews-middle{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: 0 0 0 28px;
}   

.interviews-middle-photo{
    width: 363px;
    height: 240px;
    margin: 0px 0 0 27px;
    background-image: url("photo/img-6.jpg");
}

.interviews-middle-data{
    margin: 9px 0 0 0px;
    letter-spacing: 7px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    color: #000000;
}

.interviews-middle-atvero{
    width: 363px;
    height: 27px;
    margin: 28px 27px 0 28px;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    text-transform: uppercase;
    color: #1F1F1D;
}

.interviews-right-photo{
    width: 363px;
    height: 240px;
    margin: 0px 0 0 0;
    background-image: url("photo/img-7.jpg");
}

.flex-flex-flex-interviews-right{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: 0 0 0 0;
}   

.interviews-right-data{
    margin: 9px 0 0 0px;
    letter-spacing: 7px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    color: #000000;
}

.interviews-right-atvero{
    width: 363px;
    height: 27px;
    margin: 29px 0 0 0;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    text-transform: uppercase;
    color: #1F1F1D;
}

#interviews-container-button{
    width: 238px;
    height: 42px;
    background-color: #303030;
    margin: 38px 0 0 602px;
    color: #FFFFFF;
}

/* /////////////////////////////////////////// */

.header-news{
    margin: 33px 0 0 150px;
    width: 99px;
    height: 27px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.news-container{
    display: flex;
    margin-top: 28px;
}


/* //////////////here - 3/////////////////// */

.news-left-photo{
    width: 363px;
    height: 240px;
    margin: 0px 0 0 148px;
    background-image: url("photo/Screen Shot 2560-08-18 at 4.39.04 PM Copy 3.jpg"); 
}


.flex-flex-flex-news{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: 0 0 0 148px;
}   

.news-left-data{
    margin: 19px 0 0 3px;
    letter-spacing: 7px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    color: #000000;
}

.news-lifestyle{
    margin-top: 18px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}

.news-left-atvero {
    width: 363px;
    height: 27px;
    margin: 22px 0 0 150px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    word-spacing: 3px;
    text-transform: uppercase;
    color: #1F1F1D;
}

.flex-flex-flex-news-middle{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: 0 0 0 28px;
}   

.news-middle-photo{
    width: 363px;
    height: 240px;
    margin: 0px 0 0 27px;
    background-image: url("photo/Screen Shot 2560-08-18 at 4.38.56 PM Copy 5.jpg");
}

.news-middle-data{
    margin: 19px 0 0 0;
    letter-spacing: 7px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    color: #000000;
}

.news-middle-atvero{
    width: 363px;
    height: 27px;
    margin: 24px 27px 0 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    word-spacing: 3px;
    text-transform: uppercase;
    color: #1F1F1D;
}

.news-right-photo{
    width: 363px;
    height: 240px;
    margin: 0px 0 0 0;
    background-image: url("photo/Screen Shot 2560-08-18 at 4.38.56 PM Copy 6.jpg");
}

.flex-flex-flex-news-right{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 363px;
    margin: 0 0 0 0;
}   

.news-right-data{
    margin: 19px 0 0 0;
    letter-spacing: 7px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    color: #000000;
}

.news-right-atvero{
    width: 363px;
    height: 27px;
    margin: 24px 0 0 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    word-spacing: 3px;
    text-transform: uppercase;
    color: #1F1F1D;
}

/* //////////////////////// */


#news-container-button{
    width: 238px;
    height: 42px;
    background-color: #303030;
    margin: 31px 0 0 602px;
    color: #FFFFFF;
}

.footer-suffix{
    width: 1440px;
    height: 140px;
    margin-top: 100px;
    font-size: 20px;
    color: white;
    background-color: black;
    z-index: 2;
}

#photo-suffix-footer{
    width: 142px;
    height: 27px;
    margin: 55px 0 0 654px;
}

.designedby{
    margin: 30px 0 0 672px;
    margin-bottom: 3.5px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    word-spacing: 2px;
}