@import url('reset.css');
@import url('font.css');

body{
    font-family: 'ChronicaPro-Regular';
}

.container{
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    background-color: white;
}

.content{
    background-color: #EAEBED;
    margin: 0 0 40px 0;
    border-radius: 20px;
}

.block-first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.menu{
    width: 486px;
    height: 44px;
    text-align:center;
    margin: 30px 0 0 0;
}

.menu-link{
    text-decoration: none;
    color:black;
    font-size: 24px;
    font-family: open sans;
    font-weight: 700;
    line-height: 33px;
    margin: 0 44px;
}

.menu-link:hover{
    color:blue;
}

.menu-activ{
    color: blue;
}

.content{
    width: 1404px;
    height: 726px;
    display:flex;
    align-items: center;
}

.icons{
    width: 105px;
    height: 420px;
    margin: 0 28px 0 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.uil.focus{
    width: 67px;
    height: 62px;
    border-radius: 15px;
    background-color: rgb(101, 101, 161);
    color: white;
}

.content-icon{
    display: block;
    width: 62px;
    height: 62px;
    text-align: center;
    font-size: 25px;
    line-height: 2.6;
    position: relative;
    z-index: 2;
}

.content-icon:hover{
    color:white;
    border-radius: 15px;
    background-color: rgb(101, 101, 161);
}


.slide::after{
    width: 0px;
    height: 0px;
    color: rgba(255, 255, 255, 0);
    left: 0px;
    font-size: 20px;
    line-height: 1;
    border-radius: 15px;
    background-color: rgba(101, 101, 161, 0);
    position: absolute;
    transition: width 0.7s, color 6s;
    content:"";
}

.slide:hover::after{ 
    width: 151px;
    height: 62px;
    color: white;
    left: 0px;
    content: "Project";
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
    line-height: 3.2;
    border-radius: 15px;
    background-color: rgb(101, 101, 161);
    position: absolute;
    z-index: -2;
} 



.monitor-one::after{
    transition: width 0.7s, color 6s;
    content:"";
}

.monitor-one:hover::after{ 
    content: "Acount";
} 

.users-alt-one::after{
    transition: width 0.7s, color 6s;
    content:"";
}

.users-alt-one:hover::after{ 
    content: "Groups";
} 

.cloud-share-one::after{
    transition: width 0.7s, color 6s;
    content:"";
}

.cloud-share-one:hover::after{ 
    content: "Cloud";
} 

.cog-one::after{
    transition: width 0.7s, color 6s;
    content:"";
}

.cog-one:hover::after{ 
    content: "Setting";
} 


.other{
    width: 1276px;
    height: 640px;
    margin: 78px 0 0 0;
}

.progect-company{
    display:flex;
}

.progect, .company, .team, .discription, .data-portability, .icons{
    border-radius: 30px;
    background-color: white;
}

.d-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progect{
    width: 592px;
    height: 130px;
    margin: 0 17px 0 0;
}

.progect-name, .html{
    margin: 0 0 0 41px;
    font-size: 18px;
    color: #B1B1B1;
    line-height:24.51px;
}

.html{
    font-size: 24px;
    color: #000;
    line-height: 32.68px;
    font-weight: 700;
}


.company{
    width: 583px;
    height: 130px;
    margin: 0 0 0 17px;
}

.discription-team-data{
    display: flex;
}

.discription-team{
    width: 730px;
    height: 404px;
    margin: 32px 0 0 0;
}

.discription{
    width:  732px;
    height: 194px;
}

.discription-text{
    width: 624px;
    height: 126px;
}

.progect1{
    line-height: 28px;
}

.discription1{
    line-height: 24px;
}

.team{
    width:  732px;
    height: 194px;
    margin: 20px 0 0 0;
}

.team-flex{
    display: flex;
    align-items: center;
    margin: 0 0 0 42px;
}

.team img{
    width: 120px;
    height: 138.26px;
}

.team-team{
    width:495px;
    height:97px;
}

.data-portability{
    width: 446px;
    height: 408px;
    margin: 32px 32px 0 32px;
}

.photo-portability, .text-portability{
    margin-left: 40px;
}

.photo-portability img{
    width: 120px;
    height: 115px;
    margin-top: 32px;
}

.text-portability{
    width: 366px;
    height: 198px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

#Dataportability{
    font-weight: 700;
    line-height: 38px;
    font-size: 24px;
}

#unerData{
    line-height: 28px;
    font-size: 18px;
    color: #B1B1B1;
}

/* team-html ///////////////////*/

.precontent{
    width: 1366px;
    height: 742px;
    background-color: #EAEBED;
    margin: 0 0 40px 0;
    border-radius: 20px;
}

.content-team{
    margin: 54px 34px 58px 32px ;
}

.cube1, .cube2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.cube1{
    margin: 0 0 22px 0;
}

.person1, .person2 {
    background-color: white;
    position: relative;
}

.person1:hover, .person2:hover{
    background-color: #2684F7;
    color: white;
}

.person2:hover .text-second,
.person1:hover .text-second,
.person2:hover .text-semibold,
.person1:hover .text-semibold{
    color: white;
}

.person1, .person2{
    width: 292px;
    height: 325px;
    border-radius: 41px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photo1 img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 50px 0 0 0;
}

.trash{
    position:absolute;
    color: white;
}
.person2:hover .trash,
.person1:hover .trash{
    box-sizing: border-box;
    position: absolute;
    width: 82px;
    height: 76px;
    padding-left: 20px;
    line-height: 2;
    font-size: 40px;
    background-color: #fff;
    border-radius: 20px;
    color: #2684F7;
    left: 227px;
    bottom: 287px;
}

.text-first{
    width: 232px;
    height: 64px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-bold{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
}

.text-semibold{
    height: 32px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #c5c5c5;
}

.text-second{
    margin-top: 28px; 
    font-size: 20px;
    font-weight: 500;
    color: #c5c5c5;
}


/* lesson.html///////////////////// */

.content-table{
    border-collapse: collapse;
    /* font-family:'Bahij-sultannahia'; */
}

.lesson-content{
    width: 1366px;
    height: 742px;
    background-color: #EAEBED;
    margin: 0 0 40px 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-content{
    width: 1194px;
    height:  604px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    font-size: 24px;
    font-weight: bold;
    margin-left: 74px;
}

tr td:first-child{
    border-radius: 21px 0 0 21px;
} 

tr td:last-child{
    border-radius: 0 21px 21px 0;
} 

tr{
    border-radius: 20px;
}

td{
    text-align: center;
    width: 1194px;
    height:  64px;
    padding: 10px 0 0 0 ;
    vertical-align: middle;
    margin: 10px;
}

th{
    width: 1194px;
    height:  64px;
}

.header-lesson{
    width: 852px;
    height: 40px;
}

.icon-white{
    width: 35px;
    height: 35px;
    background-color: #EAEBED;
    border-radius: 11px;
    border: thin solid rgb(88, 85, 85);
    margin: 0 0 5px 100px;
}

.uil-import{
    color: black;
    line-height: 0;
}

.uil-import:hover{
    color:white;
}

.icon-white:hover{
    width: 35px;
    height: 35px;
    background-color: #2684F7;
    border-radius: 11px;
    margin: 0 0 5px 100px;
    color: white;
}

.white:hover{
    width: 1194px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border-radius: 10%;
}

.boxcheck{
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 11px;
    margin-left: 0px;
}

input[type=checkbox]{
display: none;
}

input[type=checkbox] + label:before {
    content: "\1F5F8";
    color: transparent;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: -5px 5px 0 0;
    height: 28px;
    width: 28px;
    line-height: 1.6;
    vertical-align: middle;
    transition: color ease 0.3s;
}

input[type=checkbox]:checked + label:before {
    color: white;
    background-color: blue;
}






[class^=uil-]:before, [class*=" uil-"]:before {
    width:35px;
    height: 36px;
    font-family: unicons-line;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}