@font-face {
    font-family: 'Kanit';
    src: url('fonts/Kanit/Kanit-Regular.ttf');
}

@font-face {
    font-family: 'Kanit', sans-serif;
    src: url('fonts/Kanit/Kanit-Light.ttf');
}

@font-face {
    font-family: 'Kanit', sans-serif;
    src: url('fonts/Kanit/Kanit-Thin.ttf');
}
