@import url('reset.css');
@import url('font.css');

body{
    font-family: 'ChronicaPro-Regular';
}

.container{
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    background-color: white;
}

.content{
    background-color: #EAEBED;
    margin: 0 0 40px 0;
    border-radius: 20px;
}

.block-first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.menu{
    width: 486px;
    height: 44px;
    text-align:center;
    margin: 30px 0 0 0;
}

.menu-link{
    text-decoration: none;
    color:black;
    font-size: 24px;
    font-family: open sans;
    font-weight: 700;
    line-height: 33px;
    margin: 0 44px;
}

.menu-link:hover{
    color:blue;
}

.menu-activ{
    color: blue;
}

.content{
    width: 1404px;
    height: 726px;
    display:flex;
    align-items: center;
}

.icons{
    width: 105px;
    height: 420px;
    margin: 0 28px 0 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    background-color: white;
}

.content-icon{
    display: block;
    width: 62px;
    height: 62px;
    text-align: center;
    font-size: 25px;
    line-height: 2.6;
    position: relative;
    z-index: 2;
}

.content-icon:hover{
    color:white;
    border-radius: 15px;
    background-color: rgb(101, 101, 161);
}


.slide::after{
    width: 0px;
    height: 0px;
    color: rgba(255, 255, 255, 0);
    left: 0px;
    font-size: 20px;
    line-height: 1;
    border-radius: 15px;
    background-color: rgba(101, 101, 161, 0);
    position: absolute;
    transition: width 0.7s, color 6s;
    content:"";
}

.slide:hover::after{ 
    width: 151px;
    height: 62px;
    color: white;
    left: 0px;
    content: "Project";
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
    line-height: 3.2;
    border-radius: 15px;
    background-color: rgb(101, 101, 161);
    position: absolute;
    z-index: -2;
} 



.monitor-one::after{
    transition: width 0.7s, color 6s;
    content:"";
}

.monitor-one:hover::after{ 
    content: "Account";
} 

.users-alt-one::after{
    transition: width 0.7s, color 6s;
    content:"";
}

.users-alt-one:hover::after{ 
    content: "Groups";
} 

.cloud-share-one::after{
    transition: width 0.7s, color 6s;
    content:"";
}

.cloud-share-one:hover::after{ 
    content: "Cloud";
} 

.cog-one::after{
    transition: width 0.7s, color 6s;
    content:"";
}

.cog-one:hover::after{ 
    content: "Setting";
} 

.uil.focus{
    width: 67px;
    height: 62px;
    border-radius: 15px;
    background-color: rgb(101, 101, 161);
    color: white;
}


.other{
    width: 1276px;
    height: 679px;
    margin: 0px 0 0 0;
    display: flex;
}

.AndyCube-changepasword{
    width: 615px;
    height: 679px;
}

.AndyCube{
    width: 615px;
    height: 149px;
    display: flex;
    align-items: center;
}

.AndyCube-round{
    width: 65px;
    height: 65px;
    font-size: 39px;
    text-align: center;
    line-height: 65px;
    font-weight: 700;
    margin: 0 43px 0 42px;
    color: white;
    background-color: #F24F5E;
    border-radius: 50% ;
}

.folder-header{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.title-AndyCubegmail{
    font-size: 18px;
    color: #B1B1B1;
    line-height: 24px;
}

.changepassword{
    width: 618px;
    height: 517px;
    margin: 20px 0 0 0;
    position: relative;
}


.changepassword-round{
    position: absolute;
    top: 27px;
    left: 42px;
    width: 65px;
    height: 65px;
    font-size: 39px;
    text-align: center;
    line-height: 65px;
    font-weight: 700;
    color: white;
    background-color: #2785F7;
    border-radius: 50% ;
}

.changepassword-title{
    position:absolute;
    top: 27px;
    left: 149px;
}

.folder-header-paswword{
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.title-changepassword{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #B1B1B1;
}

#label-old-password, #label-new-password, #label-confirm-password{
    position: absolute;
    top: 124px;
    left: 48px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

#old-password, #new-password, #confirm-password{
    position: absolute;
    box-sizing: border-box;
    width: 524px;
    height: 63px;
    top: 159px;
    left: 47px;
    border-radius: 21px;
}

#label-new-password{
    top: 228px;
}

#new-password{
    top: 263px;
}

#label-confirm-password{
    top: 331px;
}

#confirm-password{
    top: 366px;
}

.oll-password{
    border: 1px solid #0000000d;;
    box-shadow: 4px 7px 20px 0px rgb(4 4 4 / 10%);
}

.oll-password:focus{
    border: 2px solid #2785F7;
}

#button-changepassword-blue, #button-company-blue{
    border: none;
    position: absolute;
    width: 170px;
    height: 50px;
    bottom: 18px;
    right: 47px;
    background-color: #2785f7e1;
    color: white;
    border-radius: 21px;
}
#button-company-blue:active,
#button-changepassword-blue:active{
    background-color: #2785f7a8;
    box-shadow: 4px 7px 20px 0px rgb(4 4 4 / 10%);;
}

input[type="password"]::placeholder {
    color: #B1B1B1; 
}

input[type="text"]::placeholder {
     color: #B1B1B1; 
}

.bla input{ 
    padding-left: 10px;
    padding-bottom:60px; 
    font-size: 18px; 
}

.company-round{
    position: absolute;
    top: 42px;
    left: 47px;
    width: 65px;
    height: 65px;
    font-size: 39px;
    text-align: center;
    line-height: 65px;
    font-weight: 700;
    color: white;
    background-color: rgb(255, 115, 0);
    border-radius: 50% ;
}

.company-title{
    position:absolute;
    top: 32px;
    left: 155px;
}

.folder-header-company{
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.title-company{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #B1B1B1;
}

.company-container{
    width: 588px;
    height: 679px;
    margin: 0 24px 0 14px;
    position: relative;
}

.company{
    width: 588px;
    height: 679px;
    position: relative;
}

/*  */

#label-company-name, #label-company-address,#label-company-country, #label-company-city, #label-company-state, #label-company-postal{
    position: absolute;
    top: 129px;
    left: 47px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

#company-name, #company-address, #company-country, #company-city, #company-state, #company-postal{
    position: absolute;
    box-sizing: border-box;
    width: 494px;
    height: 64px;
    top: 164px;
    left: 47px;
    border-radius: 21px;
}

#label-company-address{
    top: 240px;
    left: 47px;
}

#company-address{
    width: 494px;
    height: 100px;
    top: 275px;
    left: 47px;
}

#label-company-country{
    top: 397px;
    left: 47px;
}

#company-country{
    width: 237px;
    height: 63px;
    top: 422px;
    left: 47px;
}

#label-company-city{
    top: 397px;
    left: 304px;
}

#company-city{
    width: 237px;
    height: 63px;
    top: 422px;
    left: 304px;
}

#label-company-state{
    top: 510px;
    left: 47px;
}

#company-state{
    width: 237px;
    height: 63px;
    top: 535px;
    left: 47px;
}

#label-company-postal{
    top: 510px;
    left: 308px;
}

#company-postal{
    width: 237px;
    height: 63px;
    top: 535px;
    left: 304px;
}

/*  */

.changepassword, .AndyCube, .company{
    background-color: white;
    border-radius: 30px;
}


