@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
@import url("fonts.css");

body{
    font-family: 'Kanit';
}

header, main, footer{
    margin: 0 auto;
    width: 320px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* ////////////////// */

.header-button{
    position: relative;
    background-color: white;
    border:none;
}

.uil-bars{
    font-size: large;
}

.container-main-main button:hover .burger-button-white {
    display: flex;
    flex-direction: column;
}

.burger-button-white {
    display: none;
    position: absolute;
    left: 0;
    width: 244px;
    height: 259px;
    background-color: white;
    padding: 10px;
    text-align: left;
}

#one{
    margin-top: 8px;
}

.menu-mobile-link{
    font-family: 'Kanit';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    line-height: 24px;
    margin:0 0 15px 33px;
}

/* //////////////////// */



/* ///////// 320px ////////// */

@media screen and (max-width:768px) {

header{
    height: 65px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.header-dflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button{
    width: 24px;
    height: 90%;
    text-align: center;
    line-height: 100%;
    margin-right: 0px;
    /* top:23px;
    left: 23px; */
}

.header-button span{
    font-size: 20px;;
}

.burger-button-white {
    display: none;
    position: absolute;
    left: 0px;
    width: 244px;
    height: 259px;
    background-color: white;
    padding: 10px;
    text-align: left;
}

.header-suffix-photo{
    width: 105px;
    height: 20px;
}

.main-photo-martin{
    width: 318px;
    height: 294px;
}

.black-photo{
    box-sizing: border-box;
    width: 320px;
    height: 246px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10px; 
}

.black-data-dflex{
    display: flex;
    margin-top: 15px;
}

.black-data{
    width: 117px;
    height: 18px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 7px;
    color: white;
    margin-right: 196px;
}

.black-display-none{
    display: none;
}

.black-header-vero{
    width: 295px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 20px;
}

.read-more{
    width: 198px;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-top: 20px;
}

.black-title{
    width: 295px;
    height: 54px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
}

.read-more span{
    width: 65px;
    height: 18px;
    font-size: 12px;
}

.container-main-featured, .container-main-featured-right,.container-main-style{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

.featured-header{
    font-family: 'Kanit';
    text-align: left;
    margin: 43px 0 0 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
}


.main-featured-photo-left{
    margin: 16px auto 0;
    width: 295px;
    height: 195px;
}

.featured-dflex,.style-dflex{
    display: flex;
    justify-content: space-between;
    margin: 12px 0 16px;
}

.featured-left-data{
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.mobile-display-none{
    display: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}

.featured-left-lorem{
    margin-bottom: 21px;
    width: 295px;
    height: 54px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.featured-left-discription{
    width: 295px;
    height: 63px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color:#1F1F1D;
    word-spacing: 2px;
}

.container-main-featured-right{
    margin-top: 27px;
}

/* //// style ///// */

.container .px11{
    margin-top: 11px;
}

.container-second-style-left{
    margin: 0 12px;
}

.style-dflex{
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.main-style-photo-left{
    margin: 16px auto 0;
    width: 295px;
    height: 195px;
}

.style-left-data{
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.style-display-none{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}

.style-left-lorem{
    margin-bottom: 28px;
    width: 295px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.container-main-featured-right{
    margin-top: 27px;
}

/* //// style end ///// */

.see-all{
    display: flex;
    justify-content: center;
    margin: 3px 0 43px 0;
}

.see-all button {
    width: 238px;
    height: 42px;
    background-color: black;
}

.see-all button span {
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

.style-photo-left{
    width: 318px;
    height: 245px;
}

.issue-photo-left{
    width: 320px;
    height: 245px;
    background-image: url("photo/photo-1520781359717-3eb98461c9fe copy 3.jpg");
}

.black-issue-photo{
    width: 319px;
    height: 175px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.black-issue-vero{
    margin: 39px 0px 27px;
    width: 167px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
}

.read-more-subscribe{
    font-family: 'Kanit';
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 198px;
    height: 42px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
/* //////  interviews  \\\\\\\\ */

.container-second-interviews-left{
    margin: 0 12px;
}

.interviews-dflex{
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.main-interviews-photo-left{
    margin: 16px auto 0;
    width: 295px;
    height: 195px;
}

.interviews-left-data{
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.interviews-display-none{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}

.interviews-left-lorem{
    margin-bottom: 28px;
    width: 295px;
    height: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
/* ///// END interviews \\\\\\ */

.see-all-interviews{
    display: flex;
    justify-content: center;
    margin: 37px 0 43px 0;
}

.see-all-interviews button {
    width: 238px;
    height: 42px;
    background-color: black;
}

.see-all-interviews button span {
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: white;
}

/* //////  News  \\\\\\\\ */

.container-second-news-left{
    margin: 0 12px;
}

.news-dflex{
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.main-news-photo-left{
    margin: 16px auto 0;
    width: 295px;
    height: 195px;
}

.news-left-data{
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.news-display-none{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
}

.news-left-lorem{
    margin-bottom: 28px;
    width: 295px;
    height: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
/* ///// END News \\\\\\ */

.see-all-news{
    display: flex;
    justify-content: center;
    margin: 37px 0 43px 0;
}

.see-all-news button {
    width: 238px;
    height: 42px;
    background-color: black;
}

.see-all-news button span {
    font-family: 'Kanit';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: white;
}



.container-footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    height: 163px;
    background-color: black;
}

.container-footer-suffix{
    margin: 55px 0 38px;
    width: 162px;
    height: 28px;
}

.container-footer div{
    color: white;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    word-spacing: 2px;
}


}

/* ///////// 768px////////// */
@media screen and (min-width:768px){

    header, main, footer{
        margin: 0 auto;
        width: 768px;
        box-sizing: border-box;
    }

    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    header{
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .header-button{
        width: 24px;
        height: 19px;
        text-align: center;
        line-height: 2px;
        position: absolute;
        top:23px;
        left: 23px;
    }
    
    .header-suffix-photo{
        width: 105px;
        height: 20px;
    }
    
    .main-photo-martin{
        width: 385px;
        height: 354px;
    }
    
    .black-photo{
        box-sizing: border-box;
        width: 383px;
        height: 354px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        padding-left: 21px; 
        /* font-family: 'Kanit', sans-serif;
        font-weight: 500; */
    }
    
    .black-data-dflex{
        display: flex;
        margin-top: 72px;
    }
    
    .black-data{
        width: 117px;
        height: 18px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 7px;
        color: white;
        margin-right: 196px;
    }

    .black-display-none{
        display: none;
        /* width: 75px;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline; */
    }
    
    .black-header-vero{
        width: 344px;
        height: 27px;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    
    .read-more{
        width: 198px;
        height: 40px;
        background-color: black;
        color: white;
        border: 1px solid white;
        margin-top: 31px;
    }
    
    .black-title{
        width: 323px;
        height: 54px;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        margin-top: 23px;
    }

    .read-more span{
        width: 67px;
        height: 18px;
        font-size: 12px;
    }

    .container-main-featured, .container-main-featured-right{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .featured-header{
        font-family: 'Kanit';
        text-align: left;
        margin: 60px 0 0 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
    }
    
    .main-featured-photo-left{
        margin: 16px auto 0;
        width: 345px;
        height: 228px;
    }
    
    .featured-dflex,.style-dflex{
        display: flex;
        justify-content: space-between;
        margin: 16px 0;
    }
    
    .featured-left-data{
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    
    .mobile-display-none{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .featured-left-lorem{
        margin-bottom: 21px;
        width: 345px;
        height: 54px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }
    
    .featured-left-discription{
        width: 345px;
        height: 63px;
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color:#1F1F1D;
    }

/* ////////////  style  /////////// */

    .container-style{
        display: flex;
        justify-content: space-between;
        margin: 36px 24px 0 ;
    }

    .container-second-style-left{
        width: 220px;
    }


    .main-style-photo-left{
        width: 220px;
        height: 145px;
    }

    .style-dflex{
        display: flex;
        justify-content: space-between;
        width: 220px;
        margin: 16 auto 0;
    }

    /* ////////////  style-left-photo  /////////// */

    .style-left-data{
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    
    .style-display-none{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .style-left-lorem{
        margin-bottom: 21px;
        width: 220px;
        height: 48px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }

    /* ////////////  style-middle-photo  /////////// */
    /* ////////////  style-right-photo  /////////// */
    /* //////// button ////////// */

    .see-all{
        display: flex;
        justify-content: center;
        margin: 3px 0 43px 0;
    }
    
    .see-all button {
        width: 238px;
        height: 42px;
        background-color: black;
    }
    
    .see-all button span {
        font-family: 'Kanit';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }

    /* /////issue///// */

    .issue-container{
        margin: 0 25px 0 25px;
    }

    .issue-photo-left{
        width: 359px;
        height: 275px;
        background-image: url("photo\ 03-tablet/photo-1520781359717-3eb98461c9fe copy 3.jpg");
    }

    .black-issue-photo{
        width: 359.69px;
        height: 275.24px;
        background-color: black;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .black-issue-vero{
        margin: 89px 0px 27px;
        width: 335px;
        height: 51px;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        color: #FFFFFF;
        text-align: center;
    }

    .read-more-subscribe{
        font-family: 'Kanit';
        background-color: black;
        color: white;
        border: 1px solid white;
        width: 198px;
        height: 42px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }

    /* //////////\\\\ interviews ///////\\\\\ */    

    .interviews-header{
        font-family: 'Kanit';
        text-align: left;
        margin: 53px 0 0 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
    }

    .container-interviews{
        display: flex;
        justify-content: space-between;
        margin: 32px 24px 0 ;
    }

    .container-second-style-left{
        width: 220px;
    }


    .main-interviews-photo-left{
        width: 220px;
        height: 145px;
    }

    .interviews-dflex{
        display: flex;
        justify-content: space-between;
        width: 220px;
        margin: 16px auto 0;
    }

    /* ////////////  interviews-left-photo  /////////// */

    .interviews-left-data{
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    
    .interviews-display-none{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .interviews-left-lorem{
        margin-top: 15px;
        width: 220px;
        height: 48px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }

    /* ////////////  end INTERVIEWS  /////////// */

    .see-all-interviews{
        display: flex;
        justify-content: center;
        margin: 53px 0 0 0;
    }
    
    .see-all-interviews button {
        width: 238px;
        height: 42px;
        background-color: black;
    }
    
    .see-all-interviews button span {
        font-family: 'Kanit';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }

    /* //////////\\\\ news ///////\\\\\ */

    .news-header{
        font-family: 'Kanit';
        text-align: left;
        margin: 33px 0 0 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
    }

    .container-news{
        display: flex;
        justify-content: space-between;
        margin: 26px 24px 0 ;
    }

    .container-second-news-left{
        width: 220px;
    }


    .main-news-photo-left{
        width: 220px;
        height: 145px;
    }

    .news-dflex{
        display: flex;
        justify-content: space-between;
        width: 220px;
        margin: 16px auto 0;
    }

    /* ////////////  news-left-photo  /////////// */

    .news-left-data{
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    
    .news-display-none{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .news-left-lorem{
        margin-top: 15px;
        width: 220px;
        height: 48px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }

    /* //////////// end news  /////////// */

    .see-all-news{
        display: flex;
        justify-content: center;
        margin: 48px 0 70px 0;
    }
    
    .see-all-news button {
        width: 238px;
        height: 42px;
        background-color: black;
    }
    
    .see-all-news button span {
        font-family: 'Kanit';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }


    .container-footer{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        height: 163px;
        background-color: black;
    }
    
    .container-footer-suffix{
        margin: 55px 0 38px;
        width: 162px;
        height: 28px;
    }
    
    .container-footer div{
        color: white;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        word-spacing: 2px;
    }

}

/* ///////// 1240px////////// */
@media screen and (min-width:1240px){

    header, main, footer{
        margin: 0 auto;
        width: 1240px;
        box-sizing: border-box;
    }

    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    header{
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .header-button{
        width: 24px;
        height: 19px;
        text-align: center;
        line-height: 2px;
        position: absolute;
        top:23px;
        left: 23px;
    }

    .burger-button-white{
        width: 344px;
        height: 359px;
    }

    #one{
        margin-top: 52px;
    }
    
    .menu-mobile-link{
        font-family: 'Kanit';
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        line-height: 24px;
        margin:0 0 15px 66px;
    }

    .uil-bars{
        font-size: 50px;
    }
    
    .header-suffix-photo{
        width: 157px;
        height: 30px;
    }
    
    .main-photo-martin{
        display: none;
        width: 620px;
        height: 570px;
    }

    .main-photo-martin-largedevices{
        width: 620px;
        height: 570px;
        background-image: url("photo\ 01-large/philip-martin-5aGUyCW_PJw-unsplash.jpg");
    }
    
    .black-photo{
        box-sizing: border-box;
        width: 620px;
        height: 570px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        padding-left: 104px; 
    }

    .black-data-dflex{
        display: flex;
        margin-top: 128px;
    }
    
    .black-data{
        width: 136px;
        height: 21px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 7px;
        color: white;
        margin-right: 196px;
        line-height: 21px; 
    }

    .black-display-none{
        display: block;
        width: 75px;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
    }
    
    .black-header-vero{
        width: 394px;
        height: 84px;
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        text-transform: uppercase;
        margin-top: 36px;
    }
    
    .read-more{
        width: 198px;
        height: 55px;
        background-color: black;
        color: white;
        border: 1px solid white;
        margin-top: 36px;
    }
    
    .black-title{
        width: 411px;
        height: 63px;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        margin-top: 23px;
        word-spacing: 2px;
    }

    .read-more span{
        width: 67px;
        height: 18px;
        font-size: 12px;
    }
    
    .container-main-featured{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 21px 30px 0 150px;
    }

    .container-main-featured-right{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 21px 149px 0 0;
    }
    
    .featured-header{
        font-family: 'Kanit';
        text-align: left;
        margin: 60px 0 0 150px;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
    }
    
    
    .main-featured-photo-left{
        margin: 16px auto 0;
        width: 455px;
        height: 301px;
    }
    
    .featured-dflex,.style-dflex{
        display: flex;
        justify-content: space-between;
        margin: 27px 0 0 0;
    }
    
    .featured-left-data{
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    
    .mobile-display-none{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .featured-left-lorem{
        margin-top: 24px;
        width: 455px;
        height: 72px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }
    
    .featured-left-discription{
        width: 455px;
        height: 54px;
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color:#1F1F1D;
    }

/* ////////////  style  /////////// */

    .container-style{
        display: flex;
        justify-content: space-between;
        margin: 59px 148px 0 ;
    }

    .container-second-style-left{
        width: 295px;
    }


    .main-style-photo-left{
        width: 295px;
        height: 195px;
    }

    .style-dflex{
        display: flex;
        justify-content: space-between;
        width: 295px;
        margin: 16px auto 0;
    }

    /* ////////////  style-left-photo  /////////// */

    .style-left-data{
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    
    .style-display-none{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .style-left-lorem{
        margin-top: 22px;
        width: 293px;
        height: 54px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }

    /* ////////////  style-middle-photo  /////////// */
    /* ////////////  style-right-photo  /////////// */
    /* //////// button ////////// */

    .see-all{
        display: flex;
        justify-content: center;
        margin: 39px 0 60px 0;
    }
    
    .see-all button {
        width: 238px;
        height: 42px;
        background-color: black;
    }
    
    .see-all button span {
        font-family: 'Kanit';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }

    /* /////issue///// */

    .issue-container{
        margin: 0 148px 0 148px;
    }

    .issue-photo-left{
        width: 571px;
        height: 360px;
        background-image: url("photo\ 03-tablet/photo-1520781359717-3eb98461c9fe copy 3.jpg ");
    }

    .black-issue-photo{
        width: 571.5px;
        height: 360px;
        background-color: black;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .black-issue-vero{
        margin: 124px 0px 20px;
        width: 335px;
        height: 51px;
        font-size: 34px;
        line-height: 51px;
        color: #FFFFFF;
        text-align: center;
        line-height: 1.5;
    }

    .read-more-subscribe{
        font-family: 'Kanit';
        background-color: black;
        color: white;
        border: 1px solid white;
        width: 198px;
        height: 42px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
    

    /* //////////\\\\ interviews ///////\\\\\ */

    .interviews-header{
        width: 48px;
        height: 27px;
        font-family: 'Kanit';
        text-align: left;
        margin: 60px 0 0 150px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #1F1F1D;
    }

    .container-interviews{
        display: flex;
        justify-content: space-between;
        margin: 29px 148px 0 ;
    }

    .container-second-interviews-left{
        width: 295px;
    }

    .main-interviews-photo-left{
        width: 295px;
        height: 195px;
    }

    .interviews-dflex{
        display: flex;
        justify-content: space-between;
        width: 295px;
        margin: 17px auto 0;
    }

    /* ////////////  interviews-left-photo  /////////// */

    .interviews-left-data{
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    
    .interviews-display-none{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .interviews-left-lorem{
        margin-top: 22px;
        width: 293px;
        height: 54px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
    }

    /* ////////////  interviews-middle-photo  /////////// */

    .see-all-interviews{
        display: flex;
        justify-content: center;
        margin: 60px 0 0 0;
    }
    
    .see-all-interviews button {
        width: 238px;
        height: 42px;
        background-color: black;
    }
    
    .see-all-interviews button span {
        font-family: 'Kanit';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }

    /* //////////\\\\ news ///////\\\\\ */

    .news-header{
        width: 48px;
        height: 27px;
        font-family: 'Kanit';
        text-align: left;
        margin: 33px 0 0 150px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #1F1F1D;
    }

    .container-news{
        display: flex;
        justify-content: space-between;
        margin: 59px 148px 0 ;
    }

    .container-second-news-left{
        width: 295px;
    }


    .main-news-photo-left{
        width: 295px;
        height: 195px;
    }

    .news-dflex{
        display: flex;
        justify-content: space-between;
        width: 295px;
        margin: 16px auto 0;
    }

    /* ////////////  news-left-photo  /////////// */

    .news-left-data{
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    
    .news-display-none{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .news-left-lorem{
        margin-top: 22px;
        width: 293px;
        height: 54px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
    }

    /* ////////////  news-middle-photo  /////////// */

    .see-all-news{
        display: flex;
        justify-content: center;
        margin: 38px 0 0 0;
    }
    
    .see-all-news button {
        width: 238px;
        height: 42px;
        background-color: black;
    }
    
    .see-all-news button span {
        font-family: 'Kanit';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }

    /* //////// end news ////////// */

    .see-all-news{
        display: flex;
        justify-content: center;
        margin: 31px 0 100px 0;
    }
    
    .see-all-news button {
        width: 238px;
        height: 42px;
        background-color: black;
    }
    
    .see-all-news button span {
        font-family: 'Kanit';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }

    .container-footer{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        height: 163px;
        background-color: black;
    }
    
    .container-footer-suffix{
        margin: 55px 0 38px 0;
        width: 162px;
        height: 28px;
    }
    
    .container-footer div{
        color: white;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        word-spacing: 2px;
    }
}

/* ///////// 1440px////////// */
@media screen and (min-width:1440px){

    header, main, footer{
        margin: 0 auto;
        width: 1440px;
        box-sizing: border-box;
    }

    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    header{
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .header-button{
        width: 24px;
        height: 19px;
        text-align: center;
        line-height: 2px;
        position: absolute;
        top:23px;
        left: 23px;
    }

    .burger-button-white{
        width: 344px;
        height: 359px;
    }

    #one{
        margin-top: 52px;
    }
    
    .menu-mobile-link{
        font-family: 'Kanit';
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        line-height: 24px;
        margin:0 0 15px 66px;
    }
    
    .header-suffix-photo{
        width: 157px;
        height: 30px;
    }
    
    .main-photo-martin{
        display: none;
        width: 720px;
        height: 570px;
    }

    .main-photo-martin-largedevices{
        width: 720px;
        height: 570px;
        background-image: url("photo\ 01-large/philip-martin-5aGUyCW_PJw-unsplash.jpg");
    }
    
    .black-photo{
        box-sizing: border-box;
        width: 720px;
        height: 570px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        padding-left: 108px; 
    
        /* font-family: 'Kanit', sans-serif;
        font-weight: 500; */
    }

    .black-data-dflex{
        display: flex;
        margin-top: 110px;
    }
    
    .black-data{
        width: 136px;
        height: 21px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 7px;
        color: white;
        margin-right: 291px;
    }

    .black-display-none{
        width: 75px;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
    }
    
    .black-header-vero{
        width: 503px;
        height: 42px;
        font-weight: 500;
        font-size: 28px;
        line-height: 42px;
        text-transform: uppercase;
        margin-top: 66px;
    }
    
    .read-more{
        width: 198px;
        height: 40px;
        background-color: black;
        color: white;
        border: 1px solid white;
    }
    
    .black-title{
        width: 503px;
        height: 42px;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        margin-top: 29px;
    }
    
    .read-more{
        margin-top: 54px;
    }

    .read-more span{
        width: 65px;
        height: 18px;
        font-size: 12px;
    }
    
    .container-main-featured{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 30px 30px 0 150px;
    }

    .container-main-featured-right{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 30px 149px 0 0;
    }
    
    .featured-header{
        font-family: 'Kanit';
        text-align: left;
        margin: 59px 0 0 150px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #1F1F1D;
    }
    
    
    .main-featured-photo-left{
        margin: 0px auto 0;
        width: 557px;
        height: 368px;
    }
    
    .featured-dflex{
        display: flex;
        justify-content: space-between;
        margin: 26px 0 0;
    }
    
    .featured-left-data{
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 6px;
        color: #000000;
    }
    
    .mobile-display-none{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .featured-left-lorem{
        margin-top: 34px;
        width: 557px;
        height: 72px;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #1F1F1D;
    }
    
    .featured-left-discription{
        width: 557px;
        height: 54px;
        font-family: 'Kanit', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #1F1F1D;
        /* word-spacing: 2px; */
    }

/* ////////////  style  /////////// */

    .container-style{
        display: flex;
        justify-content: space-between;
        margin: 63px 148px 0 ;
    }

    .container-second-style-left{
        width: 363px;
    }


    .main-style-photo-left{
        width: 363px;
        height: 240px;
    }

    .style-dflex{
        display: flex;
        justify-content: space-between;
        width: 363px;
        margin: 16px auto 0;
    }

    /* ////////////  style-left-photo  /////////// */

    .style-left-data{
        width: 117px;
        height: 18px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 6px;
        color: #000000;
    }
    
    .style-display-none{
        width: 57px;
        height: 18px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .style-left-lorem{
        width: 363px;
        height: 27px;
        margin-top: 22px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
    }

    /* ////////////  style-middle-photo  /////////// */
    /* ////////////  style-right-photo  /////////// */
    /* //////// button ////////// */

    .see-all{
        display: flex;
        justify-content: center;
        margin: 63px 0 71px 0;
    }
    
    .see-all button {
        width: 238px;
        height: 42px;
        background-color: black;
    }
    
    .see-all button span {
        font-family: 'Kanit';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }

    /* /////issue///// */

    .issue-container{
        margin: 0 148px 0 148px;
    }

    .issue-photo-left{
        width: 571px;
        height: 360px;
        background-image: url("photo\ 04-tablet/photo-1520781359717-3eb98461c9fe.jpg");
    }

    .black-issue-photo{
        width: 571.5px;
        height: 360px;
        background-color: black;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .black-issue-vero{
        margin: 124px 0px 20px;
        width: 335px;
        height: 51px;
        font-size: 34px;
        line-height: 51px;
        color: #FFFFFF;
        text-align: center;
        line-height: 1.5;
    }

    .read-more-subscribe{
        font-family: 'Kanit';
        background-color: black;
        color: white;
        border: 1px solid white;
        width: 198px;
        height: 42px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
    

    /* //////////\\\\ interviews ///////\\\\\ */
    .interviews-header{
        font-family: 'Kanit';
        text-align: left;
        margin: 64px 0 0 150px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #1F1F1D;
    }

    .container-interviews{
        display: flex;
        justify-content: space-between;
        margin: 31px 148px 0 ;
    }
    .container-second-interviews-left{
        width: 363px;
    }

    .main-interviews-photo-left{
        width: 363px;
        height: 240px;
    }

    .interviews-dflex{
        display: flex;
        justify-content: space-between;
        width: 363px;
        margin: 9px auto 0;
    }

    /* ///  interviews-left-photo  /// */

    .interviews-left-data{
        width: 117px;
        height: 18px;
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    
    .interviews-display-none{
        width: 66px;
        height: 18px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .interviews-left-lorem{
        width: 363px;
        height: 27px;
        margin-top: 29px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #1F1F1D;
    }

    .see-all-interviews{
        display: flex;
        justify-content: center;
        margin: 38px 0 0 0;
    }
    
    .see-all-interviews button {
        width: 238px;
        height: 42px;
        background-color: black;
    }
    
    .see-all-interviews button span {
        font-family: 'Kanit';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }
    /* //////////\\\\ news ///////\\\\\ */

    .news-header{
        width: 48px;
        height: 27px;
        font-family: 'Kanit';
        text-align: left;
        margin: 33px 0 0 150px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #1F1F1D;
    }

    .container-news{
        display: flex;
        justify-content: space-between;
        margin: 28px 148px 0 ;
    }

    .main-news-photo-left{
        width: 363px;
        height: 240px;
    }

    .news-dflex{
        display: flex;
        justify-content: space-between;
        width: 363px;
        margin: 19 auto 0;
    }

    /* ///  news-left-photo  /// */

    .news-left-data{
        width: 117px;
        height: 18px;
        letter-spacing: 6px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    
    .news-display-none{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration-line: underline;
    }
    
    .news-left-lorem{
        margin-top: 22px;
        width: 363px;
        height: 27px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #1F1F1D;
    }    

    .see-all-news{
        display: flex;
        justify-content: center;
        margin: 31px 0 100px 0;
    }
    
    .see-all-news button {
        width: 238px;
        height: 42px;
        background-color: black;
    }
    
    .see-all-news button span {
        font-family: 'Kanit';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: white;
    }

    .container-footer{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        height: 163px;
        background-color: black;
    }
    
    .container-footer-suffix{
        margin: 55px 0 38px 0;
        width: 162px;
        height: 28px;
    }
    
    .container-footer div{
        color: white;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        word-spacing: 2px;
    }
}
